@import "./custom.scss";


.header {
  text-align: center;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
} 

ul{

  display: flex;  
  list-style-type: none;
  padding-left: 0px;
}
li{
  margin-right: 1rem;
  background-color: rgba(209, 113, 230, 0.424);
  border-radius: 4px;
  padding-left: 5px;

}
.not-found-card {
  background: rgba(128, 0, 128, 0.2); /* Semi-transparent purple */
  backdrop-filter: blur(5px);  /* Blurry effect */
}
